.input {
  font-size: 20px;
  padding: 5px;
  border: 0;
  border-bottom: 2px solid #f7f7f7;
  width: 100%;
  line-height: 50px;
  background: none;
  margin-bottom: 30px;
  color: white;

  &:focus {
    outline: none;
  }
}
